# .coveragerc file to control coverage.py (code coverage plugin for pytest)
# Get it here: https://pypi.python.org/pypi/pytest-cov
# Examples:
# $ python -m pytest rsqueakvm/test --cov rsqueakvm --cov-report html --cov-config .coveragerc

[run]
omit =
    rsqueakvm/test/*
    rsqueakvm/util/logparser.py
    rsqueakvm/tools/*
    rsqueakvm/interpreter_debugging.py
    */__init__.py
    # rsqueakvm/plugins/*
    rsqueakvm/plugins/ruby_plugin.py
    rsqueakvm/plugins/database/*
    rsqueakvm/plugins/database_plugin.py
    rsqueakvm/plugins/vmdebugging/*
    rsqueakvm/plugins/v_m_debugging.py
branch = True

[report]
ignore_errors = True
