language: cpp
sudo: required
dist: trusty
group: edge
os:
  - linux
  - osx
osx_image: xcode7.3
notifications:
  irc:
    channels:
      - chat.freenode.net/#rsqueak
    use_notice: true
    skip_join: true
  slack: mp2016h:7AUemvDdkxof6Shbu514mDyX
branches:
  except:
    - /^v[0-9]/  # Ignore version tags
    - windows-build
env:
  global:
    - SB2="$PWD/raspbian_arm"
    - SB2NAME="rasp"
    - PATH=$PATH:$HOME/SDL2/bin
    - LIBRARY_PATH=$LIBRARY_PATH:$HOME/SDL2/lib
    - C_INCLUDE_PATH=$C_INCLUDE_PATH:$HOME/SDL2/include
  matrix:
    - BUILD_ARCH=64bit
install: .travis/install_requirements.sh
script: .travis/build.sh
after_success: .travis/success.sh
